html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
 margin:0;
 padding:0;
 border:0;
 outline:0;
 vertical-align:baseline;
 background:transparent;
}

header{
    background-color:#33CC00;
    height:100px;
}
.header-logo{
    font-family:'arial black';
    color:#FFFF00;
    font-size:50px;
    float:left;
    padding:10px 30px;
}
.header-list li{
    list-style:none;
    font-size:18px;
    padding:35px 15px;
    float:left;
}
main{
    height:700px;
    background-color:#AAFFFF;
}

.main_visual{
    background-color:#aaafff;
    height:100px;
}

.main_side{
    float:left;
    background-color:#33aaff;
    height:450px;
    width:20%;
}

.main_content{
    float:right;
    background-color:#33ffaa;
    height:450px;
    width:80%;
}
footer{
    height:200px;
    background-color:#FF55FF;
}
.textbox{
    padding:2px 10px;
    margin:0px;
}